<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Tiket.com Test Suite">
    
    <test name="End-to-End Tests">
        <groups>
            <run>
                <include name="endtoend"/>
            </run>
        </groups>
        <classes>
            <class name="test.TicketTest"/>
        </classes>
    </test>

    <test name="Component Tests">
        <groups>
            <run>
                <include name="component"/>
            </run>
        </groups>
        <classes>
            <class name="test.TicketTest"/>
        </classes>
    </test>

</suite>
